configuration {
    font: "Terminus 14";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}


@theme "Pitchblack.rasi"

listview {
	lines: 6;
	columns: 2;
}

window {
	width: 30%;
}
